a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skip-link:focus {
    left: 0;
}


/* body styles */


html {
    font-size: 62.5%;
}



/* font families*/

    /*  Heading text - bikerland - 130px, about us, our mission, meet alissa, the gram, 42px, contact, stay updated --- font-family: 'Pacifico', ;

    Body text, regular, 20px
    button text, bold, 18px font-family: 'Catamaran',  */
body {
    font-size: 2.5rem;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    line-height: 29px;
    color: #1F2022;
    width: 100%;
    min-width: 320px;
    max-width: 1450px;
    margin: 0 auto;
    /* border-bottom: 1px solid #1F2022; */
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    /*   max-width:960px; */
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 13rem;
    font-family: 'Pacifico', sans-serif;
    color: #f2a11c;
    /* margin: 0 auto; */
}

h2 {
    font-size: 4.2rem;
    font-family: 'Pacifico', sans-serif;
    color: #1F2022;
}

p {
    font-size: 2rem;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 29px;
    transition: ease 1s;
    outline: 0;

}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    text-align: center;
}

/* header styles */


header {
    background: url(../biker-land-assets/image-1.jpg) 50% no-repeat;
    background-size: cover;
    height: 95vh;
    min-height: 600px;
    padding: 30px 0;
    background-position: center;
    display: block;
    position: relative;
}

header nav {
    font-family: 'Catamaran';
    font-weight: 700;
    color: white;
    text-align: center;
}

nav li {
    display: inline-block;
}
a {
    text-decoration: none;
}
nav a {
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: 400;
}

nav a:hover,
nav a:focus {
    color: #f2a11c;
}

h1 {
    font-family: 'Pacifico';
    font-size: 14rem;
    color: #F2A11C;
    text-align: center;
    display: inline-block;
    padding-top: 28%;
}
.icons a {
    color: #f2a11c;
    font-size: 2.8rem;
    padding: 30px;
}
.icons {
    position: absolute;
    right: 0%;
    top: 35%;
}

.icons li {
    padding-bottom: 7px;
} 
/* main styles */

.about, 
.mission
    {
    background-color: #F4F4F4;
    margin: 0 auto;
}

.about h2 {
    margin-right: 20px;
    padding-bottom: 30px;
}

.galleryContent {
    float: left;
    padding: 10% 10% 10% 10%;
    width: 50%;
    margin: 0 auto;
}

.aboutContainer,
.missionContainer {
    height: 550px;
}

.missionContainer {
    clear: both;
}

.aboutImage,
.missionImage {
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.aboutImage img {
    max-width: auto;
    width: 100%;
    position: relative;
    height: 100%;
    object-fit: cover;
}

.readMore {
    background-color: #1F2022;
    padding: 7px 23px;
    text-transform: uppercase;
    color: #f2a11c;
    display: inline-block;
    margin-top: 15px;
}

.readMore:hover,
.readMore:focus {
    color: #FFFFFF;
    background-color: #4A4A4A;
    
}
.missionImage img {
    max-width: auto;
    width: 100%;
    position: relative;
    /* right: 10%; */
    height: 100%;
    object-fit: cover;
}

.mission h2 {
    margin-right: 20px;
    padding-bottom: 30px;
}


.blog {
    padding: 118px 125px;
    width: 100%;
    margin: 0 auto;
}

.blog h2 {
    margin-right: 20px;
    padding-bottom: 30px;
}
.blogImage {
    float: left;
    width: calc(40% - 30px);
}

.blogContent {
    float: left;
    width: 60%;
    padding-left: 50px;
    padding-top: 7px;
}

/* info styles */

.info {
    background: url(../biker-land-assets/image-5.jpg) 50% no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    display: block;
    margin: 0 auto;
}

.products a,
.community a,
.reachOut a {
    color: #FFFFFF;
    padding: 70px;
    /* display: inline-block; */
    font-size: 5rem;
}

.products,
.community,
.reachOut {
    display: inline-block;
    padding-top: 180px;

}

.infoIcons {
    text-align: center;
    /* display: inline-block; */
    /* float: left; */
}

.infoIcons p {
    color: #f2a11c;
    padding: 15px;
    font-size: 2.5rem;
    letter-spacing: .1rem;
}

/* the gram styles */
.gram {
    background-color: #F4F4F4;
    height: 80vh;
    /* padding-bottom: 75px; */

}

.gram h2 {
    text-align: center;
    padding: 75px 40px;
}


.gram .gallery li {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc((100% - 60px) / 3);
}




.gram .gallery li:nth-last-child(1) {
    margin-right: 0;
}

/* footer styles */

.bottomNav {
    width: 100%;
    text-align: center;
    padding: 80px 0 50px 0;
    text-transform: uppercase;
}

.contact {
    background-color: #1F2022;
    color: #FFFFFF;
    clear: both;
}

.contact h3 {
    font-size: 2.5rem;
    font-family: 'Pacifico', sans-serif;
    color: #F2A11C;
    padding-bottom: 20px;
}

.contact p {
    font-size: 1.8rem;
}



form {
    /* position: relative; */
    width: 50%;
    float: left;
    margin-bottom: 100px;
    text-align: left;
}

.contactContainer {
    width: 50%;
    float: left;
    text-align: left;
}
form p {
    padding-bottom: 12px;
}
button {
    background-color: #f2a11c;
    border: transparent;
    text-decoration: none;
    /* color: #1F2022; */
    padding: 10px 20px;
    display: inline-block;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    width: 25%;
}

button:hover,
button:focus {
    color: #f2a11c;
    background-color: #FFFFFF;
    transition: ease 1s;
}

input[type=email] {
    border: transparent;
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    float: left;
    width: 75%;
}

.copyright {
    clear: both;
}

.copyright p {
    background-color: black;
    color: lightgray;
    text-align: center;
    width: 100%;
    /* margin-top: 30px; */
}

/* media queries  */


/* Portrait tablet and small desktops */
@media (max-width: 1050px) {
    h1 {
        font-size: 12rem;
        padding-top: 48%;
    }

    .icons {
        position: absolute;
    }

    .aboutContent, 
    .missionContent {
        padding: 6% 6% 0 6%;
    }

    .aboutImage img {
        /* width: 100%; */
        position: relative;
        height: 100%;
    }

    .aboutContainer,
    .missionContainer {
    height: 400px;
    }

    .blog h2 {
        margin-right: 20px;
        padding-bottom: 30px;
    }

    .blogImage {
        float: left;
        width: calc(40% - 10px);
        margin-right: 10px;
        /* margin-top: 80px; */
    }

    .blogContent {
        float: left;
        width: 60%;
        padding-left: 60px;
        padding-top: 0px;
    }

    .gram {
        height: 60vh;
        padding: 0;
    }

    input[type=email], button {
        width: 90%;
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 940px) {
    h1 {
        font-size: 12rem;
        padding-top: 53%;
    }

    .icons {
        position: absolute;
        font-size: 2rem;
    }

    .icons li {
        padding-bottom: 3px;
    }

    .aboutContent, 
    .missionContent {
        text-align: center;
    }
    
    .aboutContainer,
    .missionContainer {
    height: 450px;
    width: 100%;
    }

    .aboutImage img {
        /* width: 100%; */
        position: relative;
        height: 100%;
}

    .blog h2 {
        margin-right: 20px;
        padding-bottom: 30px;
    }

    /* .blogContainer {
        padding-top: 30px;
    } */

    .blogImage {
        float: none;
        width: 80%;
        margin-left: 80px;
    }

    .blogContent {
        float: left;
        width: 80%;
        padding-top: 40px;
        margin-left: 50px;
        text-align: left;
    }

    .gram {
        height: 50vh;
        padding: 0;
    }

    input[type=email], button {
        width: 100%;
        text-align: center;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    h1 {
        font-size: 10rem;
        padding-top: 65%;
    }

    .icons {
        position: absolute;
        font-size: 2rem;
    }

    .icons li {
        padding-bottom: 3px;
    }

    .aboutContent, 
    .missionContent {
        text-align: center;
    }
    
    .aboutContainer,
    .missionContainer {
    height: 450px;
    width: 100%;
    }

    .aboutImage img {
        /* width: 100%; */
        position: relative;
        height: 100%;
}

    .blog h2 {
        margin-right: 20px;
        padding-bottom: 30px;
    }

    .blogContainer {
        padding-top: 30px;
    }

    .blogImage {
        float: none;
        width: 80%;
        margin-left: 80px;
    }

    .blogContent {
        float: left;
        width: 80%;
        padding-top: 40px;
        margin-left: 50px;
        text-align: left;
    }

    .gram {
        height: 50vh;
        padding: 0;
    }

    input[type=email], button {
        width: 100%;
        text-align: center;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
}